/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.gap {
  gap: 52rem;
}
.hover-area {
  position: relative;
}

.hover-area::before {
  content: '';
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  z-index: 1;
}

.hover-area:hover::before {
  background-color: rgba(0, 0, 0, 0); /* Invisible, but expands hover area */
}

.hover-area:hover button {
  z-index: 2; /* Ensure the button stays above the pseudo-element */
}
